#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.7);
    display: none;

}
#popup-wrap, #popup-wrap2 {
    position: fixed;
    top: 50%;
    width: 100%;
    z-index: 999999;
    display: none;
}
    #popup-wrap2 .popup {
        margin: -115px auto 0 auto;
    }
    .popup {
        width: 270px;
        padding: 5px 15px;
        margin: -105px auto 0 auto;
        color: #efefef;
        font-family: "trebuchet ms";
        left: 50%;
        top: 50%;
        background: #8298af;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);
        background: -moz-linear-gradient(top,  #8298af 0%, #5a7087 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8298af), color-stop(100%,#5a7087));
        background: -webkit-linear-gradient(top,  #8298af 0%,#5a7087 100%);
        background: -o-linear-gradient(top,  #8298af 0%,#5a7087 100%);
        background: -ms-linear-gradient(top,  #8298af 0%,#5a7087 100%);
        background: linear-gradient(to bottom,  #8298af 0%,#5a7087 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8298af', endColorstr='#5a7087',GradientType=0 );

    }
        .popup-top {
            font: normal 18px "Trebuchet MS";
            text-align: center;
        }
            .popup-top > a {
                width: 19px;
                height: 18px;
                background: url("../images/popup_close.png") no-repeat 0 0;
                float: right;
                margin: 3px -2px 0 0;
            }
        #popup .popup-input input {
            width: 266px;
            height: 26px;
            padding-left: 2px;
            background: #ededed;
            border: 1px  solid rgba(169, 169, 169, 0.45);
            box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1) inset;
            font: normal 14px "Trebuchet MS";
        }
        .popup-submit {
            margin: 10px 0;
            text-align: center;
        }
        .popup-submit input {
            width: 130px;
            height: 26px;
            cursor: pointer;
            background: #e5ecf7;
            background: -moz-linear-gradient(top,  #e5ecf7 0%, #dde7f5 50%, #b9c1cd 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5ecf7), color-stop(50%,#dde7f5), color-stop(100%,#b9c1cd));
            background: -webkit-linear-gradient(top,  #e5ecf7 0%,#dde7f5 50%,#b9c1cd 100%);
            background: -o-linear-gradient(top,  #e5ecf7 0%,#dde7f5 50%,#b9c1cd 100%);
            background: -ms-linear-gradient(top,  #e5ecf7 0%,#dde7f5 50%,#b9c1cd 100%);
            background: linear-gradient(to bottom,  #e5ecf7 0%,#dde7f5 50%,#b9c1cd 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5ecf7', endColorstr='#b9c1cd',GradientType=0 );
            border: 1px solid #4c648e;
            font: normal 14px "Trebuchet MS";
            color: #446091;
            line-height: 1.2;
        }
        .popup-regtext {
            line-height: 1;
            padding: 10px 0;
            font-size: 13px;
            text-align: center;
            color: #efefef;
            text-shadow: 0 0 2px rgba(206, 0, 0, 0.39);
        }
#contacts {
    padding: 20px 110px;
}
    .contacts-address {
        width: 476px;
        height: 150px;
        border: 5px solid #d7d7d7;
        border-radius: 5px;
        padding: 20px;
    }
        .contacts-address > div {
            width: 238px;
            float: left;
            font-size: 18px;
            color: #8e8e8e;
            line-height: 1.3;
        }
            .contacts-address > div > span {
                font-weight: bold;
                color: #6e6e6e;
            }
    .contacts-maptitle {
        font-size: 30px;
        margin: 15px 0;
    }
#catalog {
    width: 975px;
    margin: 20px auto 0 auto;
    padding-bottom: 20px;
}
    .catalog-blocks {
        overflow: hidden;
    }
        .catalog-product {
            width: 285px;
            height: 122px;
            padding: 10px;
            float: left;
            border: 5px solid #d7d7d7;
            border-radius: 5px;
            margin: 0 10px 10px 0;
            overflow: hidden;
        }
            .catalog-product > img  {
                float: left;
                max-width: 100px;
                margin: 0 10px 10px 0;
                border: none;
            }
            .catalog-product > div  {
                font-size: 17px;
                color: #000;
                line-height: 1.1;
            }
    #catalog >a.button_style {
        width: 220px;
        height: 50px;
        margin: 10px auto 0 auto;
        line-height: 2.4;
    }
    #catalog >a.button_style:focus {
        line-height: 2.5!important;
    }
        #catalog >a.button_style > div {
            height: 50px;
            text-shadow: 1px -1px 3px rgba(0,0,0,0.6);
        }
            #catalog >a.button_style > div > div {
                height: 25px;
            }
#catalog_view {
    width: 740px;
    padding: 20px 0;
    margin: 0 auto;
    overflow: hidden;
}
    .catalog_view-table {
        border: 5px solid #e7e6e8;
        border-radius: 5px;
    }
        .catalog_view-table > table {
            width: 100%;
            line-height: 1.1;
        }
            .catalog_view-table > table td {
               text-align: center;
               vertical-align: middle;
            }
            .catalog_view-table > table thead td, .catalog_view-item > td {
                background: #c7c7c7;
                font-size: 19px;
                border-left: 5px solid #e7e6e8;
                padding: 5px 0;
            }
            .catalog_view-table > table thead td:first-child, .catalog_view-item > td:first-child {
                border: 0;
            }
            .catalog_view-name {
                font-size: 21px;
                padding: 5px 0;
                font-weight: bold;
            }
            .catalog_view-item > td {
                background: none;
            }
            .catalog_view-item:nth-child(2n) {
                background: #f6f6f6;
            }
            .catalog_view-item > td:first-child {
                width: 280px;
            }
    #catalog_view .button_style {
        float: left;
        margin: 20px 0 0 25px;
        text-shadow: 1px -1px 3px rgba(0,0,0,0.6);
    }
        .catalog_view_but1, .catalog_view_but2 {
            width: 215px;
            height: 50px;
            line-height: 2.5;
        }
        .catalog_view_but1:focus {
            line-height: 2.6;
        }
        .catalog_view_but2 {
            font-size: 16px;
            line-height: 1.4;
        }
        .catalog_view_but1 > div, .catalog_view_but2 > div {
            height: 50px;
        }
        .catalog_view_but1 > div > div, .catalog_view_but2 > div > div {
            height: 25px;
        }
#yw0_button {
    display: block;
    height: 52px;
    width: 122px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    border: 1px solid red;
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=00);
    z-index: 999;
}
#feedback {
    padding: 20px 0 20px 120px;
}
#feedback-table {
    width: 600px;
}
#feedback-table textarea {
    width: 383px;
}
#feedback-table td {
    padding-bottom: 5px;
}