body {
    font-family: Tahoma, sans-serif;
    background-color: #f7f7f7;
}
.theme-showcase {
    background-color: #fff;
}

.bg-img {
    background: url("images/bg_home.jpg") no-repeat;
}

.top-menu {
    background: url("images/bg.jpg") repeat;
}

.top-menu a {
    color: #fff;
	border-radius: 5px;
}

.top-menu ul li {
    padding: 20px;
    font-size: 18px;
}

.top-menu ul li.active {
    background: rgba(0, 0, 0, 0.2);
}

.top-menu ul li a:hover {
	background: none;
}

.jumbotron {
	background: none;
    margin-top: 100px;
    text-shadow: 1px 1px 2px grey;
    color: #ffffff;
}

.navbar {
	border: none;
	border-radius: 0;
}

.navbar-collapse {
	box-shadow: none;
}

.navbar-toggle {
	border: 2px solid #fff;  
}

.icon-bar {
	background-color: #fff;
}